@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --dark1: #181820;
  --dark2: #21212B;
  --white1: #ffffff;
  --white2: #efefef;
  --white3: #DDDDDD;
  --pink1: #FB76A1;
  --pink2: #CD69E0;
  --pink3: #FDA5A3;

  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  background-color: var(--dark1);
  color: var(--white2);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

